.venv/
venv/
.idea/

__pycache__/
*.py[cod]
.pytest_cache/

*.egg-info/
build/
dist/

*.enc
*.dec

plaintext.txt
ciphertext.bin
decrypted.txt

cbc.bin
cfb.bin
ofb.bin
ctr.bin

crypto_*.bin
cipher_*.bin
crypto_decrypted_*.txt

openssl_*.bin
openssl_*.txt

result_*.txt

cryptocore_ecb.bin
weak.bin
sprint3.bin
sprint3_decrypted.txt

nist_test_data.bin

large_hash_test.bin
hash_test.txt
sprint4.txt
sprint4.sha256